# Gitignore settings for custom_components
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
**/alexa_media/
**/daily/
**/hacs/
**/ics/
**/pylacrosse/
**/python-lacrosse-master/
**/reolink_dev/
**/tankerkoenig/